/* MAIN CSS */
/* The following CSS will reset the HTML5 elements to block element.*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

#pagewrap {
	width: 980px;
	margin: 0 auto;
	border: 2px solid red;
}

#header {
	height: 160px;
	border: 2px solid blue;
}

#content {
	width: 600px;
	float: left;
	border: 2px solid green;
}

#sidebar {
	width: 280px;
	float: right;
	border: 2px solid orange;
}

#footer {
	clear: both;
	border: 2px solid yellow;
}
